---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
---

<style>
  table {
    border: 1px solid black;
  }
  .indent {
  margin-left: 40px; /* Adjust the value to control the indentation */
  }
  table caption {
    font-weight: bold;
    margin-bottom: 0.75em;
    caption-side: top;
    text-align: center;
  }
  img {
    display: block;
    width: 70%;
    max-width: 500px;
    margin: 1.5rem auto;
  }
</style>

<BaseLayout pageTitle="Data">
  <Section>
    <h2>Data</h2>
    <p>
      The calculator relies on data collected by the Minnesota Department of
      Transportation and publicly available at:
      <a
        target="_blank"
        href="http://www.dot.state.mn.us/roadway/data/index.html"
        >http://www.dot.state.mn.us/roadway/data/index.html</a
      >. 
    </p>
    <p>
      The data provide estimates of road mileage and annual VMT by county for seven
      functional classifications of roads. Functional classifications define the type of
      service provided by a road, for example an interstate, freeway, or
      expressway allows for higher speeds and will accommodate more vehicles
      per hour compared to an arterial road, which will have traffic signals
      and lower speeds. At the far extreme are local roads with low speed
      limits that serve final destinations, such as residential and local
      commercial areas.
    </p>
    <p>
      The data available for road center-line miles is broken down by urban and rural areas, however, there is no corresponding breakdown for vehicle-miles of travel (VMT).
      Therefore, urban and rural data were combined by road category.  Lane mileage data is available, but
      is not linked to VMT. To estimate lane-mileage the ratio of lane-miles to center-line miles for each road category is calculated for 
      each metro area (using 2023 data). This provided us with a conversion factor to approximate the lane miles for each functional class. These are shown
      in the table below and represent averages by metro area.
    </p>
    <p>
      Road classifications available in the data are listed in the table. There are 87 counties in Minnesota and we combined these based on 
      metropolitan statistical areas (MSAs).  Some MSAs include counties in Wisconsin and North Dakota; these were not included in the MSA totals.
      Most counties are not included as they are not part of an MSA.  Fargo, Grand Forks, and LaCrosse-Onalaska MSAs are not included as they contain only
      one county in Minnesota.
      
      The combinations included are as follows:
      <div class="indent">
      
      <p><strong>Duluth:</strong> Carlton, St. Louis, Douglas</p>
      <p><strong>Mankato-North Mankato:</strong> Blue Earth, Nicollet</p>
      <p><strong>Minneapolis-St. Paul-Bloomington:</strong> Anoka, Carver, Chisago, Dakota, Hennepin, Isanti, Le Sueur, Mille Lacs, Ramsey, Scott, Sherburne, Sibley, Washington, Wright</p>
      <p><strong>Rochester:</strong> Dodge, Fillmore, Olmsted, Wabasha</p>
      <p><strong>St. Cloud:</strong> Benton, Stearns</p>
      </div>

     
      <p>
      Our first year of data is 2018 and we will update to the latest year
      available. Caution should be used when analyzing data and interpreting
      results for 2020 and 2021 due to changes in travel patterns due to the
      COVID pandemic.
      </p>
      <p>We also include an estimate of CO2 emissions. This is estimated based on the average transportation CO2e emissions per mile for the entire state which is 484 grams/mile. 
        Data on total transportation emissions was from the <a target="_blank" href="https://www.dot.state.mn.us/measures/greenhouse-gas-emissions.html"
        >Minnesota Department of Transportation, Performance Measure Dasbboard</a> for transportation emissions. We assumed an average of 40 million metric tons CO2 equivalent in total. 
        This was divided by total VMT in 2023.</p>
      <p>
      Elasticity assumptions in the calculator are shown in the table for
      each road classification. In general, the empirical evidence suggests
      that larger higher speed roads have a larger elasticity. We have
      included a range and the calculator output provides a range of
      estimates for induced VMT. Given the potential range of estimates and
      variation in how VMT may be affected, we have included a
      “back-calculator” which allows the estimation of an “implied
      elasticity” based on forecast growth in VMT associated with a capacity
      expansion. This can be thought of as the elasticity implied by any
      forecasts of travel done by the state or a local agency promoting the
      capacity expansion. The assumption often made, is that there is no
      change in VMT attributable to the expansion, despite the evidence for
      induced travel. The user of the calculator is thus able to assess
      whether estimates made in forecasts are reasonable.
    </p>
    

<table>
  <caption>Lane-mile conversions and elasticity estimates used in the calculator</caption>
  <colgroup>
    <col style="width: 26%" />
    <col style="width: 24%" />
    <col style="width: 14%" />
  </colgroup>
  <tr>
    <th>Functional classifications</th>
    <th>Factor to convert to lane miles</th>
    <th>Elasticity range</th>
  </tr>
  <tr>
    <td>Interstates</td>
    <td>4 - 5.6</td>
    <td>0.7 - 1.0</td>
  </tr>
  <tr>
    <td>Principal Arterial - Other Freeways and Expressways</td>
    <td>3.9 - 4.6</td>
    <td>0.7 - 1.0</td>
  </tr>
  <tr>
    <td>Principal arterials - Other</td>
    <td>2.3 - 3.4</td>
    <td>0.7 - 1.0</td>
  </tr>
  <tr>
    <td>Minor arterials</td>
    <td>2 - 2.6</td>
    <td>0.5 - 0.7</td>
  </tr>
  <tr>
    <td>Major collectors</td>
    <td>2 - 2.1</td>
    <td>0.5 - 0.7</td>
  </tr>
  <tr>
    <td>Minor collectors</td>
    <td>2</td>
    <td>0.5 - 0.7</td>
  </tr>
  <tr>
    <td>Local</td>
    <td>2</td>
    <td>0.3 - 0.5</td>
  </tr>
</table>
   
  
    
  </Section>
  <Section>
  <h2>Calculations</h2>
    <p>
      The elasticities shown above are used to determine how a change in
      lane miles will lead to a change in annual VMT. The formula for estimating
      the induced VMT is:
    </p>
    <p>
      <math display="block">
        <semantics>
          <mrow>
            <mrow>
              <msub>
                <mi mathvariant="italic">Induced</mi>
                <mi mathvariant="italic">VMT</mi>
              </msub>
              <mo stretchy="false">=</mo>
              <mi>ε</mi>
            </mrow>
            <mi>∙</mi>
            <mfrac>
              <mi mathvariant="italic">NewLM</mi>
              <mi mathvariant="italic">LM</mi>
            </mfrac>
            <mi>∙</mi>
            <mi mathvariant="italic">VMT</mi>
          </mrow>
        </semantics>
      </math>
    </p>
    <p>
      Where:
      <ul>
        <li>ε = elasticity</li>
        <li>NewLM = the newly added lane mileage for the county</li>
        <li>LM = the current lane mileage in the county</li>
        <li>VMT = the current vehicle-miles of travel in the county</li>
        <li>
          Induced<sub>VMT</sub> = the vehicle miles of travel induced by the
          increase in lane miles
        </li>
      </ul>
    </p>
    <p>
      The back-calculation simply reverses this equation but requires the
      user to input both “new lane miles” and the “forecasted annual increase in
      VMT”. The output is an implicit elasticity, that is, the elasticity
      that is implied by the forecast increase in VMT.
    </p>
    <p>The formula is as follows:</p>
    <p>
      <math display="block">
        <semantics>
          <mrow>
            <mrow>
              <mover accent="true">
                <mi>ε</mi>
                <mo>¯ </mo>
              </mover>
              <mo stretchy="false">=</mo>
              <mfrac>
                <msub>
                  <mi mathvariant="italic">VMT</mi>
                  <mi mathvariant="italic">forecast</mi>
                </msub>
                <mi mathvariant="italic">VMT</mi>
              </mfrac>
            </mrow>
            <mi>∙</mi>
            <mfrac>
              <mi mathvariant="italic">LM</mi>
              <mi mathvariant="italic">NewLM</mi>
            </mfrac>
          </mrow>
        </semantics>
      </math>
    </p>
    <p>
      Where:
      <ul>
        <li>
          <math display="inline">
            <semantics>
              <mover accent="true">
                <mi>ε</mi>
                <mo>¯ </mo>
              </mover>
            </semantics>
          </math>
          = implied elasticity
        </li>
        <li>VMT<sub>forecast</sub> = forecast of VMT provided by others</li>
        <li>VMT = the current vehicle-miles of travel in the county</li>
        <li>NewLM = the newly added lane mileage for the county</li>
        <li>LM = the current lane mileage in the county</li>
      </ul>
    </p>
  </Section>
  
