<section class="bg-body-tertiary p-5 rounded">
  <h1>Minnesota Induced Travel Calculator</h1>
  <p class="lead mb-4">
    To get started with the calculators, click one of the buttons below.
  </p>
  <div class="d-flex flex-wrap gap-2">
   <!-- First group: Blue buttons -->
<a class="btn btn-lg btn-primary" href="/calculator/">MSA Calculator &raquo;</a>
<a class="btn btn-lg btn-primary" href="/back-calculator/">MSA Back-Calculator &raquo;</a>

<br><br> <!-- Line break between groups -->

<!-- Second group: Green buttons -->
<a class="btn btn-lg btn-success" href="/county-calculator/">County Calculator &raquo;</a>
<a class="btn btn-lg btn-success" href="/county-back-calculator/">County Back-Calculator &raquo;</a>

  </div>
</section>
